<div class="navtabs-container">
    <nav mat-tab-nav-bar fxFlex fxLayout="row" fxLayoutAlign="center center">
      <a
        mat-tab-link
        routerLink="/calculator_1apa"
        routerLinkActive
        #calculator_1apa="routerLinkActive"
        [active]="calculator_1apa.isActive"
      >
        Calculator 1 apa
      </a>
      <a
        mat-tab-link
        routerLink="/calculator_2ape"
        routerLinkActive
        #calculator_2ape="routerLinkActive"
        [active]="calculator_2ape.isActive"
      >
        Calculator 2 ape
      </a>
      <a
        mat-tab-link
        routerLink="/calculator_4ape"
        routerLinkActive
        #calculator_4ape="routerLinkActive"
        [active]="calculator_4ape.isActive"
      >
        Calculator 4 ape
      </a>
      <a
        mat-tab-link
        routerLink="/calculator_personalizat"
        routerLinkActive
        #calculator_personalizat="routerLinkActive"
        [active]="calculator_personalizat.isActive"
      >
        Calculator Personalizat
      </a>
      <a
        mat-tab-link
        routerLink="/calcul_manual"
        routerLinkActive
        #calcul_manual="routerLinkActive"
        [active]="calcul_manual.isActive"
      >
        Calcul Manual
      </a>
      <a
        mat-tab-link
        routerLink="/sistem_pluvial"
        routerLinkActive
        #sistem_pluvial="routerLinkActive"
        [active]="sistem_pluvial.isActive"
      >
        Sistem Pluvial
      </a>
    </nav>
  </div>
  