:host {
    mat-toolbar {
        background-color: transparent;
        // border-bottom: 4px solid #b7000b;
        .title{
             padding-left: 20px;
             color: #b7000b;
             font-weight: 600;
        }
        .logo{
            img{
                width: 110px;
                padding: 10px;
            }
        }
        .title_center{
            margin-left: 120px;
            color: #b7000b;
            font-weight: 600;
       }
    }

    .navtabs-container {
        a {
            text-decoration: none;

        }
    }

    a{
        text-decoration: none;
        flex: 50%;
        height: 70px;
        box-shadow: 5px 5px 10px 5px #83222a;
        // box-shadow:-5px -4px 12px 1px #83222a;
    }
    
}
.contact{
    margin: 0 0 0 auto;
    a {
        text-decoration: none;
        background: #ef7d00;
        color: white;
        box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.2);
        box-sizing: border-box;
        transition: all 0.1s ease;
        margin-right: -20px;
    }
}
@media screen and (max-width: 768px)  {
    mat-toolbar{
        height: 80px;
    }

    .title{
        margin-top:-30px;
    }

    .contact{
        margin-top:-20px;
        a {
            margin-left: -250px;
            margin-top: 50px;
            padding: 5px;
            background: #ef7d00;
            height: 30px;
        }
    }

    .title_center{
        display:none;
    }
}