<div class="ma-form-field">
    <mat-form-field appearance="fill">
        <mat-label>Intaltimea sol-streasina (A)</mat-label>
        <input matInput
               type="number">
    </mat-form-field>
</div>
<div class="ma-form-field">
    <mat-form-field appearance="fill">
        <mat-label>Diametru</mat-label>
        <mat-select name="diametru">
        <mat-option *ngFor="let diametru of diametri" 
                    [value]="diametru.id">
            {{diametru.value}}
        </mat-option>
        </mat-select>
    </mat-form-field>
</div>