<mat-stepper #stepper [linear]="true">
  <mat-step [stepControl]="modelsForm" label="Modele">
    <roof-models (formData)="getModelsForm($event)"></roof-models>
  </mat-step>
  <mat-step [stepControl]="measurementsForm" label="Masuratori">
    <measurements (formData)="getMeasurementsForm($event)" (btnProceedToAccesories)="getBtnProceedToAccesoriesState($event)"
      *ngIf="tipCalculator !== tipCalculatorEnum.CALCUL_MANUAL"
      [tipAcoperis]="tipCalculator"
    ></measurements>
    <app-manual-measurements
      *ngIf="tipCalculator === tipCalculatorEnum.CALCUL_MANUAL"
    ></app-manual-measurements>
  </mat-step>

  <mat-step [stepControl]="" label="Accesorii">
    <mat-spinner *ngIf="loader"></mat-spinner>
    <app-accesorii *ngIf="!loader" (btnProceedToPrice)="getInfoFromAccesorii($event)" [necesarAccesorii]="necesarAccesorii"></app-accesorii>
  </mat-step>

  <mat-step [stepControl]="" label="Pret">
    <app-price [accesorii]="infoNecesarAccesorii"></app-price>
  </mat-step>
  <mat-step [stepControl]="" label="Comanda">
    <!-- <app-comanda></app-comanda> -->
  </mat-step>
</mat-stepper>
