<mat-stepper #stepper>
    <mat-step [stepControl]="modelsForm"  label="Modele">
      <roof-models></roof-models>
    </mat-step>
    <mat-step [stepControl]="measurementsForm" label="Masuratori">
      <measurements *ngIf="modelAcoperis != 'Calcul-manual'"  [modelAcoperis]="modelAcoperis"></measurements>
      <app-manual-measurements *ngIf="modelAcoperis === 'Calcul-manual'"></app-manual-measurements>
    </mat-step>

    <mat-step [stepControl]="thirdFormGroup" label="Accesorii">
      <app-accesorii></app-accesorii>
    </mat-step>

      <mat-step [stepControl]="fourthFormGroup" label="Pret">
        <app-price></app-price>
      </mat-step>
      <mat-step>
      <ng-template matStepLabel>Comanda</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-raised-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-stepper>
  