.navigation-steps{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    .steps {
        margin:0 auto;
        mat-icon, span {
            font-size:18px;
        }
    }
}


.tab-buttons {
    background: #3f51b5;
    height: 48px;
    border-radius: 5px 0px 0px 5px;
    border: 0px;
}


.mdc-tab__text-label {
    color: #fff;
}
 
    .container-card {
        display: flex;
        width: 80%;
        margin: 40px auto;
        padding: 20px;
    }

    .container-card-content {
        display: flex;
        flex-wrap: wrap; 
        justify-content: space-between;
        gap: 10px;
    }
    

    .ma-form-field {
    width: 49%;
    }
    
    .ma-form-textarea,
    .width_full,
    .checkbox-field,
    .ma-form-title,
    .companie {
        width: 100%;
    }