<div id="modelsWrapper">
    <div class="columnOne">
        <div class="info-text">
            Singurii experti in acoperisuri din Romania care livreaza materialele in 48 de ore cu plata 100% LA LIVRARE!
        </div>
        <div class="info-text">
            Pentru cea mai buna experienta te rugam sa alegi!
        </div>
        <form [formGroup]="form">
            <div class="ma-form-field">
                <mat-form-field appearance="outline">
                    <mat-label>Brandul preferat</mat-label>
                    <mat-select formControlName="brand"
                                name="brand">
                    <mat-option *ngFor="let brand of brands" 
                                [value]="brand.id">
                        {{brand.value}}
                    </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="ma-form-field" *ngIf="form.get('brand')?.value">
                <mat-form-field appearance="outline">
                    <mat-label>Amprenta tabla</mat-label>
                    <mat-select formControlName="model"
                                name="model">
                    <mat-option *ngFor="let model of models" 
                                [value]="model.id">
                        {{model.value}}
                    </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="ma-form-field" *ngIf="form.get('model')?.value">
                <mat-form-field appearance="outline">
                    <mat-label>Aspect vopsea</mat-label>
                    <mat-select formControlName="finisaj"
                                name="finisaj">
                    <mat-option *ngFor="let finisaj of finisaje" 
                                [value]="finisaj.id">
                        {{finisaj.value}}
                    </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="ma-form-field" *ngIf="form.get('finisaj')?.value">
                <mat-form-field appearance="outline">
                    <mat-label>Grosime (mm)</mat-label>
                    <mat-select formControlName="grosime"
                                name="grosime">
                    <mat-option *ngFor="let grosime of grosimi" 
                                [value]="grosime.id">
                        {{grosime.value}}
                    </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="ma-form-field" *ngIf="form.get('grosime')?.value">
                <mat-form-field appearance="outline">
                    <mat-label>Culoare in paletar RAL</mat-label>
                    <mat-select formControlName="culoare"
                                name="culoare">
                    <mat-option *ngFor="let culoare of culori" 
                                [value]="culoare.id">
                        {{culoare.value}}
                    </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </form>
    </div>
    <div class="columnTwo">
        <div *ngIf="roofImg" class="roof-img">
            <img [src]="roofImg" alt="">
        </div>
        <div *ngIf="price || salePrice" class="priceSection">
            <span *ngIf="price !== salePrice" class="oldPrice">{{price}} RON/mp</span>
            <span class="newPrice">{{salePrice}} RON/mp</span>
        </div>
    </div>
</div>
<div class="nextStep">
    <button mat-raised-button color="primary" matStepperNext  [disabled]="!form.valid"> 
        <span>Dimensiuni sarpanta</span> 
        <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
</div>
