<div id="modelsWrapper">
    <div class="columnOne">
        <form [formGroup]="form">
            <div class="ma-form-field">
                <mat-form-field appearance="fill">
                    <mat-label>Brand</mat-label>
                    <mat-select formControlName="brand"
                                name="brand">
                    <mat-option *ngFor="let brand of brands" 
                                [value]="brand.id">
                        {{brand.value}}
                    </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="ma-form-field">
                <mat-form-field appearance="fill">
                    <mat-label>Model</mat-label>
                    <mat-select formControlName="model"
                                name="model">
                    <mat-option *ngFor="let model of models" 
                                [value]="model.id">
                        {{model.value}}
                    </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="ma-form-field">
                <mat-form-field appearance="fill">
                    <mat-label>Finisaj</mat-label>
                    <mat-select formControlName="finisaj"
                                name="finisaj">
                    <mat-option *ngFor="let finisaj of finisaje" 
                                [value]="finisaj.id">
                        {{finisaj.value}}
                    </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="ma-form-field">
                <mat-form-field appearance="fill">
                    <mat-label>Grosime</mat-label>
                    <mat-select formControlName="grosime"
                                name="grosime">
                    <mat-option *ngFor="let grosime of grosimi" 
                                [value]="grosime.id">
                        {{grosime.value}}
                    </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="ma-form-field">
                <mat-form-field appearance="fill">
                    <mat-label>Culori</mat-label>
                    <mat-select formControlName="culoare"
                                name="culoare">
                    <mat-option *ngFor="let culoare of culori" 
                                [value]="culoare.id">
                        {{culoare.value}}
                    </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </form>
    </div>
    <div class="columnTwo">
        <div *ngIf="roofImg" class="roof-img">
            <img [src]="roofImg" alt="">
        </div>
        <div *ngIf="price || salePrice" class="priceSection">
            <span *ngIf="price !== salePrice" class="oldPrice">{{price}} RON/mp</span>
            <span class="newPrice">{{salePrice}} RON/mp</span>
        </div>
    </div>
</div>
<div>
    <button mat-raised-button color="primary" matStepperNext class="nextStep"> 
        <span>Masuratori</span> 
        <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
</div>
