<div id="modelsWrapper">
    <div class="columnOne">
        <div class="info-text">
            <p><mat-icon class="warning">warning</mat-icon>Masuratorile trebuie sa fie in metri (ex. 10.44 metri) </p>
            <p><mat-icon class="warning">warning</mat-icon>Pierderile sunt calculate automat (unde e cazul) si incluse in suprafata finala</p>
        </div>
        <app-dimensiuni-acoperis1apa *ngIf="modelAcoperis === 'Calculator-1-apa'"></app-dimensiuni-acoperis1apa>
        <app-dimensiuni-acoperis2ape *ngIf="modelAcoperis === 'Calculator-2-ape'"></app-dimensiuni-acoperis2ape>
        <app-dimensiuni-acoperis4ape *ngIf="modelAcoperis === 'Calculator-4-ape'"></app-dimensiuni-acoperis4ape>
    </div>
    <div class="columnTwo">
        <div class="square">
            <p>Imagine acoperis</p>
        </div>
        
    </div>
    <div class="columnTwo">
        <button mat-raised-button color="primary" class="addExtraBtn" (click)="openDialog()">
            <span>Adauga o anexa</span>
            <mat-icon>add</mat-icon>
        </button>
        
    </div>
</div>
<div class="navigation-steps">
    <button mat-raised-button matStepperPrevious class="steps">
        <span>Modele</span>
        <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <button mat-raised-button color="primary" matStepperNext class="steps"> 
        <span>Accesorii</span> 
        <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
</div>
