#modelsWrapper{
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    margin-bottom: 20px;
    
    .columnOne{
        display: flex;
        flex-direction: column;
        margin-right: 100px;
        text-align: center;
        width: 50%;

        // mat-form-field{
        //     width: 40%;
        // } 
    }
    .columnTwo{
        display: flex;
        flex-direction: column;
        text-align: center; 
        width: 40%;
    }
}
.roof-img {
    width: 400px;
    height: 360px;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
.navigation-steps{
    display: flex;
    flex-direction: row;
    .steps {
        margin:0 auto;
        mat-icon, span {
            font-size:18px;
        }
    }
}

.addExtraBtn{
    width: 50%;
    margin: 0 auto;
}

.info-text{
    text-align: left;
    color: #b7000b;
    font-weight: 500;
    font-size: 16px;

    .warning{
        color:#ffa500;
        margin: 0px 5px -5px 0px;
    }
}

@media screen and (max-width: 768px)  {
    #modelsWrapper{

        .columnOne {
            margin-right: 0px;
            width: 100%;
            mat-form-field{
                width: 100%;
            } 
        }

        .columnTwo{
            width: 100%;
            .roof-img{
                display: block;
                margin: 0 auto; 
                width: 100%;
                height: 100%;
            }
        }
    }
}
