<form [formGroup]="form">
    <div class="ma-form-field">
        <mat-form-field appearance="fill">
            <mat-label>Lungimea (2) </mat-label>
            <input matInput
                   type="number"
                   formControlName="lungimea_2">
            <mat-error>
                <strong>Lungimea este obligatorie!</strong>
            </mat-error>
        </mat-form-field>
    </div>
    <div class="ma-form-field">
        <mat-form-field appearance="fill">
            <mat-label>Latimea (3) </mat-label>
            <input matInput
                   type="number"
                   formControlName="latimea_3">
            <mat-error>
                <strong>Latimea este obligatorie!</strong>
            </mat-error>
        </mat-form-field>
    </div>
    <div class="ma-form-field">
        <mat-form-field appearance="fill">
            <mat-label>Intaltimea (1) </mat-label>
            <input matInput
                   type="number"
                   formControlName="inaltimea_1">
            <mat-error>
                <strong>Inaltimea este obligatorie!</strong>
            </mat-error>
        </mat-form-field>
    </div>
    <div class="ma-form-field">
        <mat-form-field appearance="fill">
            <mat-label>Numar Hornuri</mat-label>
            <input matInput
                   type="number"
                   formControlName="numarHornuri">
            <mat-error>
                <strong>Numarul de hornuri este obligatoriu!</strong>
            </mat-error>
        </mat-form-field>
    </div>
    <div>
        <mat-checkbox (change)="checkSistemPluvial($event)"
                    class="checkSistemPluvial">
            Vreau sistem pluvial</mat-checkbox>
    </div>
    <div *ngIf="isCheckedSistemPluvial">
        <app-extra-measurements></app-extra-measurements>
    </div>
</form>