<h1 mat-dialog-title>Salveaza simularea pe e-mail!</h1>
<div mat-dialog-content>
  <p>Completeaza cu adresa personala de e-mail!</p>
  <form [formGroup]="form">
            <div class="ma-form-field">
                <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput
                        type="email"
                        formControlName="email">
                    <mat-error>
                        <strong>Emailul este obligatoriu!</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Nume si prenume</mat-label>
                    <input matInput
                        type="text"
                        formControlName="nume">
                    <mat-error>
                        <strong>Numele este obligatoriu!</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-checkbox class="example-margin" (click)="gdprClick()" formControlName="politicaGDPR">Accept politica <a href="#">GDPR</a></mat-checkbox>
                <mat-error *ngIf="gdprErr">
                    Trebuie sa fiti de acord cu politica GDPR
                </mat-error>
            </div>
            
            <div mat-dialog-actions align="end">
                <button mat-button mat-dialog-close (click)="onNoClick()">Inchide</button>
                <button mat-button color="primary" (click)="submitEmailInfo()">Trimite</button>
              </div>
        </form>
    </div>
