<mat-card>
  <div class="info-text">
    <p>
      <mat-icon class="warning">warning</mat-icon>Masuratorile trebuie sa fie in
      metri (ex. 10.44 metri)
    </p>
    <p>
      <mat-icon class="warning">warning</mat-icon>Pierderile sunt calculate
      automat (unde e cazul) si incluse in suprafata finala
    </p>
    <p>
      <mat-icon class="warning">arrow_downward</mat-icon>
      Mai jos regasiti un clip video explicativ care o sa va ajute in
      transmiterea datelor corecte catre noi.
      <b class="warning">Vizionati-l cu atentie!</b>
    </p>
  </div>
  <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/RUzuaNqmVNA"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
  ></iframe>
  <hr />
  <form #cpForm="ngForm" [formGroup]="cpFg" (ngSubmit)="submitCp()">
    <mat-form-field appearance="fill">
      <mat-label>Nume</mat-label>
      <input matInput formControlName="nume" required />
      <mat-error *ngIf="cpFg.get('nume')?.invalid">
        Numele este necesar
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Prenume</mat-label>
      <input matInput formControlName="prenume" required />
      <mat-error *ngIf="cpFg.get('prenume')?.invalid">
        Prenumele este necesar
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email" required />
      <mat-error *ngIf="cpFg.get('email')?.invalid">
        Email-ul este necesar
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Adresa</mat-label>
      <input matInput type="adresa" formControlName="adresa" required />
      <mat-error *ngIf="cpFg.get('adresa')?.invalid">
        Adresa este necesara
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Phone</mat-label>
      <input matInput formControlName="telefon" required />
      <mat-error *ngIf="cpFg.get('telefon')?.invalid">
        Numarul de telefon este necesar
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Incarca masuratorile</mat-label>
      <input matInput disabled />
      <button type="button" mat-icon-button matSuffix (click)="fileInput.click()">
        <mat-icon>attach_file</mat-icon>
      </button>
      <input
        #fileInput
        type="file"
        multiple="true"
        (change)="onFileChanged($event)"
        hidden
      />
    </mat-form-field>

    <div class="file-el" *ngFor="let file of fileList; let index = index">
      <span> - {{ file.name }}</span>
      <button
        mat-icon-button
        (click)="removeSelectedFile(index)"
        style="position: absolute; margin-top: -15px"
      >
        <mat-icon class="color-danger">close</mat-icon>
      </button>
    </div>

    <button mat-raised-button color="primary" type="submit">Trimite</button>
  </form>
</mat-card>
