<mat-stepper #stepper>
    <mat-step [stepControl]="modelsForm"  label="Modele">
      <roof-models></roof-models>
    </mat-step>
    <mat-step [stepControl]="measurementsForm" label="Masuratori">
      <measurements></measurements>
    </mat-step>

    <mat-step [stepControl]="thirdFormGroup" label="Accesorii">
    </mat-step>

      <mat-step [stepControl]="fourthFormGroup" label="Pret">
        <measurements></measurements>
      </mat-step>
      <mat-step>
      <ng-template matStepLabel>Comanda</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-raised-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-stepper>