<form [formGroup]="form">
  <div class="ma-form-field">
    <mat-form-field appearance="fill">
      <mat-label>Inaltimea (1) </mat-label>
      <input
        matInput
        type="number"
        min="0"
        max="9999"
        formControlName="inaltimea_1"
      />
      <mat-error>
        <strong>Inaltimea este obligatorie!</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <div class="ma-form-field">
    <mat-form-field appearance="fill">
      <mat-label>Lungimea (3) </mat-label>
      <input
        matInput
        type="number"
        min="0"
        max="9999"
        formControlName="lungimea_3"
      />
      <mat-error>
        <strong>Lungimea (3) este obligatorie!</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <div class="ma-form-field">
    <mat-form-field appearance="fill">
      <mat-label>Latimea (4) </mat-label>
      <input
        matInput
        type="number"
        min="0"
        max="9999"
        formControlName="latimea_4"
      />
      <mat-error>
        <strong>Latimea (4) este obligatorie!</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <div class="ma-form-field">
    <mat-form-field appearance="fill">
      <mat-label>Latimea (2) </mat-label>
      <input
        matInput
        type="number"
        min="0"
        max="9999"
        formControlName="latimea_2"
      />
      <mat-error>
        <strong>Latimea (2) este obligatorie!</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <div class="ma-form-field">
    <mat-form-field appearance="fill">
      <mat-label>Numar Hornuri</mat-label>
      <input
        matInput
        type="number"
        min="0"
        max="9999"
        formControlName="numarHornuri"
      />
      <mat-error>
        <strong>Numarul de hornuri este obligatoriu!</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <div class="ma-form-field">
    <mat-checkbox
      color="primary"
      formControlName="imparte_tabla"
    >
      Imparte inaltimea tablei pe doua randuri
    </mat-checkbox>
  </div>
  <div style="width:40%; margin:0 auto; text-align: left;" class="info-imparte-tabla">
    <mat-icon style="color: #03A9F4;">info</mat-icon>
    <em style="font-size:14px; color:#6a6a6a; margin-top: -5px; margin-bottom: 5px;">Inaltimea maxima la care livram tabla este de 5 metri, insa poate fi dificil de lucrat cu ea. Aceasta opțiune va permite sa impartiti bucatile de tabla in 2 randuri</em>
  </div>
  <div class="ma-form-field sistem_pluvial">
    <mat-checkbox
      color="primary"
      formControlName="sistem_pluvial"
      (change)="checkSistemPluvial($event)"
    >
      Vreau sistem pluvial
    </mat-checkbox>
  </div>
  <div class="ma-form-field" *ngIf="isCheckedSistemPluvial">
    <mat-form-field appearance="fill">
      <mat-label>Diametru</mat-label>
      <mat-select name="diametru" formControlName="diametru">
        <mat-option *ngFor="let diametru of diametri" [value]="diametru.value">
          {{ diametru.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</form>
